body {
        background-color: rgb(215, 194, 246);
        color: rgb(138, 61, 254);
        display: flex;
        justify-content: center;
        align-items: center;
}
.RegisterLogin{
    justify-items: center;
    width:75%;
    height: 80vh;
    background-color: rgb(239, 228, 254);
    border: none;
    border-radius: 27px;
    margin-top: 2%;
    box-shadow: 20px 20x 20px black;
}
.SignLog{
    display: flex;
    background-color: white;
    width:100%;
    justify-content: center;
}
.signin{
    background-color: rgb(215, 194, 246);
    border: none;
    border-radius: 10px;
}
.loginSwitch{
    display: flex;
}